

body {
    color: rgb(20, 16, 16);
    padding: 0;
    margin: 0;
}

.container {
    box-sizing: border-box;
}

#backgr img {
    height: 1000px;
    width: 100%;
    z-index: -1;
}

form {
    position: absolute;
    top: 100px;
    left: 2%;
    background: hsla(174, 6%, 35%, 0.849);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.349);
}

#rubrik {
    position: absolute;
    top: 20px;
    left: 70px;
}

textarea {
    resize: none;
    position: relative;
}

h2 {
    position: absolute;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    top: 40%;
    left: 25%;
}

.error {
    color: rgb(141, 36, 36);
    font-style: italic;
    font-weight: 500;
  }

 span {
    color: rgb(141, 36, 36);
 }

 #characters {
     color: black;
     text-align: right;
 }


